{% load static %}
<link rel="stylesheet" href="{% static 'css/home/header.css' %}">
 <!-- Header -->
 <header class="header">
    <div class="header-left">
        <h1>CDG System</h1>
    </div>
    <div class="header-right">
        <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Pesquisar...">
        </div>        <div class="notifications">
            <button class="icon-button">
                <i class="fas fa-bell"></i>
                <span class="badge">3</span>
            </button>
        </div>
        <div class="user-profile">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" alt="Usuário">
            <div class="user-info">
                <span class="user-name">{{ request.user.first_name }} {{ request.user.last_name|default:request.user.username }}</span>
                <span class="user-role">{{ request.user.get_tipo_formulario_display|default:"Usuário" }}</span>
            </div>
        </div>
    </div>
</header>