{% load static %}
<link rel="stylesheet" href="{% static 'css/home/sidebar.css' %}">
<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="logo">
            <i class="fas fa-cubes"></i>
            <span>ERP System</span>
        </div>
        <button class="toggle-sidebar" id="toggle-sidebar">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li class="active">
                <a href="/home">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/formularios">
                    <i class="fas fa-file-alt"></i>
                    <span>Formulários</span>
                </a>
            </li>
            <li>
                <a href="/webhooks/list">
                    <i class="fas fa-boxes"></i>
                    <span>Montink</span>
                </a>
            </li>
            <li>
                <a href="/admin">
                    <i class="fas fa-truck-loading"></i>
                    <span>Administração</span>
                </a>
            </li>
            <li>
                <a href="/admin/usuarios/usuario/add/">
                    <i class="fas fa-user-plus"></i>
                    <span>Novo Usuário</span>
                </a>
            </li>

            <li>
                <a href="/admin/webhooks/">
                    <i class="fas fa-plus-circle"></i>
                    <span>Configuracões Montink</span>
                </a>
            </li>

            <li>
                <a href="/admin/formularios">
                    <i class="fas fa-file-invoice"></i>
                    <span>Configuracões Form</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>