<aside class="filter-panel">
    <div class="filter-header">
        <h4><i class="fas fa-filter"></i> Filtrar</h4>
        <button class="clear-filter"><i class="fas fa-times"></i></button>
    </div>

    <div class="filter-content">
        <!-- Situação -->
        <div class="filter-group">
            <label>Status do Pedido</label>
            <div class="select-container">
                <select class="form-select" name="status" data-filter="status">
                    <option value="">Selecione uma opção...</option>
                    {% for status in status_pedidos %}
                    <option value="{{ status.id }}" {% if status_filter == status.id|stringformat:"i" %}selected{% endif %}>{{ status.nome }}</option>
                    {% endfor %}
                </select>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>

        <!-- SKU -->
        <div class="filter-group">
            <label>Sku</label>
            <div class="select-container">
                <input type="text" class="form-control" name="sku" data-filter="sku" placeholder="Informe o SKU">
            </div>
        </div>

        <!-- Data -->
        <div class="filter-group">
            <label>Vendedor</label>
            <div class="select-container">
                <input type="Date" class="form-control" name="data_emissao" data-filter="data_emissao" placeholder="Informe a data de emissão">
            </div>
        </div>

        <!-- num_pedido -->
        <div class="filter-group">
            <label>Numero Pedido</label>
            <div class="select-container">
                <input type="number" class="form-control" name="num_pedido" data-filter="num_pedido" placeholder="Informe o numero do pedido">
            </div>
        </div>

        

        <!-- Botão Filtrar -->
        <button class="filter-btn">Filtrar</button>
    </div>
</aside>
