{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Montink - PDFlow</title>
<link rel="stylesheet" href="{% static 'css/home/style.css' %}">
<link rel="stylesheet" href="{% static 'css/formularios/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/webhooks/main.css' %}">
<link rel="stylesheet" href="{% static 'css/webhooks/modals.css' %}">
<link rel="stylesheet" href="{% static 'css/webhooks/details-modal.css' %}">
<link rel="stylesheet" href="{% static 'css/filter_panel.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
